       @font-face {
           font-family: 'SF Pro';
           src: url('fonts/SFPro-Regular.woff2') format('woff2'),
               url('fonts/SFPro-Regular.woff') format('woff');
           font-weight: normal;
           font-style: normal;
       }



       body {
           font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
           color: #001f3f;
           font-size: 14px;
       }

       .tab-content>.active {
           display: flex;
           align-content: space-between;
           position: initial;
           align-items: center;
       }

       #myBtn {
           display: none;
           position: fixed;
           bottom: 20px;
           right: 30px;
           z-index: 99;
           font-size: 10px;
           border: none;
           outline: none;
           background-color: #001f3f;
           color: white;
           cursor: pointer;
           padding: 10px;
           border-radius: 4px;
       }

       #myBtn:hover {
           background-color: #555;
       }

       .tab-head {
           height: 30px;
           width: 40px;
           background: #001f3f;
           position: absolute;
           border-radius: 20% 50% 25px 0;
           display: flex;
           align-items: center;
           justify-content: center;
           color: white;
           box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
           border: none;
           margin-top: calc(-26% - 10px);
           margin-left: -15px;
           box-sizing: border-box;
           z-index: 10;
           transition: all 0.3s ease;
       }

       .nav-link.active {
           text-decoration: underline;
       }

       :root {
           --primary-color: #001f3f !important;
           --secondary-color: #004c70;
           --background-color: rgb(66 82 250);
           --text-color: #000000;
           --card-border-radius: 10px;
           --card-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
           --btn-hover-color: rgb(30, 72, 111);
           --white-color: #fff;
       }

       .table-dark {
           --bs-table-bg: #001f3f !important;
           border-color: #001f3f !important;
       }

       .mr {
           margin-right: 5px;
       }


       .nav-link:hover {
           color: #001f3f !important;
       }

       .nav-link.active {
           color: #001f3f !important;
       }

       p {
           font-size: 14px;
       }

       .hero {
           padding: 50px 20px;
           border-radius: 10px;
           padding-top: 10rem;
       }

       .float-right {
           float: right;
       }

       .nav-link {
           color: rgb(0, 0, 0) !important;
           font-weight: 600;
       }

       .title {
           padding: 0 0 3rem 0;
       }

       /* Contêiner da lista */
       .list-inline {
           /* max-height: 220px; */
           /* Limita a altura */
           overflow-y: auto;
           /* Ativa o scroll vertical */
           padding: 10px;
           border-radius: 5px;
           list-style: none;
           margin: 0;
           list-style: none;
           /* Adiciona pontos à lista */
       }

       .list-inline .d-block {
           font-size: 12px;
       }

       /* Estilização universal do scrollbar */
       .list-inline {
           scrollbar-width: thin;
           /* Define um scroll fino */
           scrollbar-color: rgb(0, 31, 63) #f3f2f2;
           /* Cor do "thumb" e do trilho */
       }

       /* Estilo do scroll para navegadores baseados no WebKit */
       .list-inline::-webkit-scrollbar {
           width: 1px;
           /* Largura do scroll */
       }

       .list-inline::-webkit-scrollbar-thumb {
           background-color: black;
           /* Cor preta para o "thumb" */
           border-radius: 10px;
           /* Bordas arredondadas */
       }

       .list-inline::-webkit-scrollbar-track {
           background: #e0e0e0;
           /* Cor do trilho */
       }

       .list-inline li {
           line-height: 2;
       }


       /* Estilo da div */
       .image-container {
           width: 345px;
           overflow: hidden;
           /* Garante que nada ultrapasse os limites da div */
           position: relative;
       }

       /* Estilo da imagem */
       .image-container img {
           width: 70%;
           /* Ajusta a largura da imagem ao tamanho da div */
           /* height: 100%; */
           /* Ajusta a altura da imagem ao tamanho da div */
           object-fit: contain;
           /* Garante que a imagem seja redimensionada sem ser cortada */
       }

       .product-img {
           max-width: 100%;
           height: auto;
           vertical-align: middle;
           justify-content: center;
           height: 232px;
       }

       .nav-pills .active button {
           color: #000000 !important;
           background-color: #ffffff !important;
       }

       .nav-pills .active {
           color: #000000 !important;
           background-color: #ffffff !important;
       }

       .nav-pills button {
           color: #ffffff !important;
       }

       nav .btn:hover {
           color: var(--bs-btn-hover-color);
           background-color: transparent;
           border: 1px solid #fff;
       }

       nav .btn {
           background-color: #001f3f;
           color: white;
       }

       .navbare {
           background: #fff;
           position: fixed;
           width: 100%;
           z-index: 1000;
           box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
       }

       .container {
           width: 1200px !important
       }

       .container {
           width: 90% !important;
           margin: 0 auto;
           /* Centraliza a container */
       }

       /* Ajuste para telas menores */
       @media (max-width: 1200px) {
           .container {
               width: 100%;
               /* Usa 100% da largura da tela */
               padding: 0 15px;
               /* Adiciona um pouco de espaçamento nas laterais */
           }
       }

       @media (max-width: 992px) {
           .container {
               width: 100%;
               /* Continua ocupando 100% da largura */
               padding: 0 15px;
           }
       }

       @media (max-width: 768px) {
           .container {
               width: 100%;
               padding: 0 15px;
           }
       }

       @media (max-width: 576px) {
           .container {
               width: 100%;
               padding: 0 15px;
           }
       }

       .btn img {
           font-size: 1.5626em;
           height: 1em;
           width: auto;
           margin-right: 0.5rem;
       }

       .header-1 {
           background: #fff;
       }

       header .text-end {
           display: contents;
       }



       .heading-title {
           color: #ffffff !important;
           font-size: 2.5rem;
           background-image: none;
           text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
           margin: -1px 0 0;
           padding: 0;
           word-wrap: break-word;
           position: relative;
       }

       .lead {
           text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
           margin: 7px 0 0;
           color: #ffffff !important;
           font-weight: 400;
           font-size: 1.125rem;
           line-height: 1.2;
       }

       .lead-p {
           text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
           margin: 24px 0 0 6px;
           text-align: left;
           font-size: 14px;
       }

       .hero-img {
           justify-content: center;
           display: flex;
           flex-direction: column;
           position: relative;
           flex: 1;
           max-width: 36%;
           transition-duration: inherit;
       }

       .btn-group {
           min-height: 40px;
           margin: 30px auto 0 0;
       }

       .btn-secondary {
           background: #001f3f;
           border: none;
           font-weight: 600;
       }

       .btn-secondary:hover {
           background: transparent;
           color: #001f3f;
           border: 1px solid #001f3f;
       }

       .btn-primary {
           background-color: #fff;
           color: var(--text-color);
           border: none;
           font-size: 10px;
           font-weight: 600;
       }

       .btn-primary:hover {
           background-color: transparent;
           border: 1px solid #fff;
           color: #fff;
       }

       .text-end button {
           align-items: center;
           display: flex;
           background-color: #001f3f;
           color: white;
       }

       .text-end button:hover {
           border: 1px solid var(--text-color);
           background-color: transparent;
           color: var(--text-color);
       }

       .nav-tabs button.nav-link.active {
           color: #f2f2f2 !important;
           background-color: #001f3f !important;
           border: none;
           font-size: 15px;
           background-image: none;
           padding: 10px 15px;
       }

       .buttons li button {
           align-items: center !important;
           background-color: #DADCDC !important;
           color: white !important;
           padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x) !important;
       }

       .buttons li button:hover {
           border: 1px solid var(--text-color) !important;
           background-color: transparent !important;
           color: var(--text-color) !important;
           padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x) !important;
       }

       .buttons li button.active {
           border: 1px solid var(--text-color) !important;
           background-color: transparent !important;
           color: var(--text-color) !important;
           padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x) !important;
       }

       .buttons li {
           padding-right: 10px;
       }

       button {
           font-size: 16px !important;
       }

       .btn-custom {
           font-size: 0.9375rem;
           --animation-custom_in-translate_x: 0px;
           --animation-custom_in-translate_y: 0px;
           --animation-custom_in-opacity: 0;
           --animation-custom_in-rotate: 0deg;
           --animation-custom_in-scale: 1;
           text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
           border-style: solid;
           /* box-shadow: 2px 2px 4px 0px rgba(76, 115, 151, 1); */
           background: #4DA8DA;
           margin: 0 2px 0 0;
           padding: 6px 14px;
           color: #fff;
       }

       .btn-custom:hover {
           background-color: var(--primary-color);
       }

       .tabs {
           background-color: transparent;
           border-radius: 5px;
       }

       .nav-tabs {
           border: none;
       }

       .nav-tabs .nav-link {
           color: #ffffff !important;
           background-color: rgb(0, 31, 63);
           border: none;
           font-size: 15px;
           background-image: none;
           padding: 10px 60px;
       }

       .nav-tabs .nav-link:hover {
           background-color: var(--btn-hover-color);
       }

       .nav-tabs .nav-link.active {
           color: #111111 !important;
           background-color: #ffffff !important;
           border: none;
           font-size: 15px;
           background-image: none;
           padding: 10px 15px;
       }

       .text-bg-primary {
           color: #fff !important;
           background-color: #001f3f !important;
       }

       .tab-content {
           background-color: #fbfbfb;
           color: #1a1a1a;
           padding: 4rem;
           padding-top: 5rem;
           border-radius: 5px;
           margin-top: 8px;
           box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
           min-height: 50rem !important;
       }

       .produtos {
           background-color: #fff;
           color: #111111;
           /* height: 100vh; */
           display: flex;
           align-items: center;
       }

       .produtos .container {
           padding: 50px 20px;
       }

       .precos .container {
           padding: 50px 20px;
       }


       .precos {
           background-color: #f2f2f2;
           color: #111111;
       }

       .card {
           border-radius: 10px;
       }

       .card-title {
           font-size: 1.25rem;
           font-weight: bold;
       }

       .card .btn {
           background-color: var(--primary-color);
           color: white;
           border: none;
           font-size: 14px;
       }

       .card .btn:hover {
           background-color: var(--btn-hover-color);
       }

       .manual-link {
           font-size: 0.9rem;
           text-decoration: underline;
           color: #005f8c;
       }

       .manual-link:hover {
           color: #004c70;
       }

       .list-unstyled ul li {
           padding: 2px;
       }


       .actualizacoes {
           background-color: #f2f2f2;
           color: #111111;
       }

       .actualizacoes .container {
           padding: 50px 20px;
       }

       .accordion-style .card {
           background: transparent;
           box-shadow: none;
           margin-bottom: 15px;
           margin-top: 0 !important;
           border: none;
       }

       .accordion-style .card:last-child {
           margin-bottom: 0;
       }

       .accordion-style .card-header {
           border: 0;
           background: none;
           padding: 0;
           border-bottom: none;
       }

       .accordion-style .btn-link {
           color: #ffffff;
           position: relative;
           background: rgb(0, 31, 63);
           border: 1px solid #15395a;
           display: block;
           width: 100%;
           font-size: 14px;
           border-radius: 3px;
           border-bottom-left-radius: 0;
           border-bottom-right-radius: 0;
           text-align: left;
           white-space: normal;
           box-shadow: none;
           padding: 15px 55px;
           text-decoration: none;
       }

       .accordion-style .btn-link:hover {
           text-decoration: none;
       }

       .accordion-style .btn-link.collapsed {
           background: #ffffff;
           border: 1px solid #15395a;
           color: #1e2022;
           border-radius: 3px;
       }

       .accordion-style .btn-link.collapsed:after {
           background: none;
           border-radius: 3px;
           content: "+";
           left: 16px;
           right: inherit;
           font-size: 20px;
           font-weight: 600;
           line-height: 26px;
           height: 26px;
           transform: none;
           width: 26px;
           top: 15px;
           text-align: center;
           background-color: #15395a;
           color: #fff;
       }

       .accordion-style .btn-link:after {
           background: #fff;
           border: none;
           border-radius: 3px;
           content: "-";
           left: 16px;
           right: inherit;
           font-size: 20px;
           font-weight: 600;
           height: 26px;
           line-height: 26px;
           transform: none;
           width: 26px;
           top: 15px;
           position: absolute;
           color: #15395a;
           text-align: center;
       }

       .card-body {
           background-color: #fff;
       }

       .accordion-style .card-body {
           padding: 20px;
           border-top: none;
           border-bottom-right-radius: 3px;
           border-bottom-left-radius: 3px;
           border-left: 1px solid #15395a;
           border-right: 1px solid #15395a;
           border-bottom: 1px solid #15395a;
           font-size: 14px;
       }

       @media screen and (max-width: 767px) {
           .accordion-style .btn-link {
               padding: 15px 40px 15px 55px;
           }
       }

       @media screen and (max-width: 575px) {
           .accordion-style .btn-link {
               padding: 15px 20px 15px 55px;
           }
       }


       .border-0 {
           border: 0 !important;
       }

       .card {
           background-color: transparent;
       }

       .mb-2-3,
       .my-2-3 {
           margin-bottom: 2.3rem;
       }

       .section-title {
           font-weight: 600;
           letter-spacing: 2px;
           text-transform: uppercase;
           margin-bottom: 10px;
           position: relative;
           display: inline-block;
       }

       .text-primary {
           color: #001f3f !important;
       }

       .btn-link .float-right {
           font-size: 12px;
           font-weight: 600;
       }

       /* FOOTER  */

       .wrapper>* {
           flex: 0 0 auto;
       }

       a {
           text-decoration: none;
           background-color: transparent;
       }

       .py-8 {
           padding-top: 3.5rem !important;
           padding-bottom: 3.5rem !important;
       }

       .footer {
           background-color: #001f3f;
       }

       .footer-link-01 li+li {
           padding-top: 0.8rem;
       }

       .footer-title-01 {
           font-size: 16px;
           margin: 0 0 20px;
           font-weight: 600;
       }

       .footer-title-01 {
           font-size: 16px;
           margin: 0 0 20px;
           font-weight: 600
       }

       .footer-link-01 li+li {
           padding-top: .8rem
       }

       @media (max-width: 991.98px) {
           .footer-link-01 li+li {
               padding-top: .6rem
           }
       }

       .footer-link-01 a {
           position: relative;
           display: inline-block;
           vertical-align: top
       }

       .footer-link-01 a:after {
           content: "";
           position: absolute;
           bottom: 0;
           left: auto;
           right: 0;
           width: 0;
           height: 1px;
           transition: ease all .35s;
           background: currentColor
       }

       .footer-link-01 a:hover:after {
           left: 0;
           right: auto;
           width: 100%
       }

       /* Estilo para as seções */
       .reveal {
           opacity: 0 !important;
           transform: translateY(50px) !important;
           /* Mover um pouco para baixo */
           transition: opacity 1s ease-out, transform 1s ease-out !important;
       }

       .reveal.visible {
           opacity: 1 !important;
           transform: translateY(0) !important;
       }

       .css-1ueqzyg {
           position: absolute;
           -webkit-transform: translate(-50%, -50%);
           -moz-transform: translate(-50%, -50%);
           -ms-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);
           top: 57%;
           left: 30%;
           width: 400px;
           height: 400px;
           -webkit-filter: blur(80px);
           filter: blur(80px);
           background: radial-gradient(circle at 50% 50%, #d66d3d, #444bf700);
           opacity: 0.3;
       }

       .css-10gqqxt {
           position: absolute;
           -webkit-transform: translate(-50%, -50%);
           -moz-transform: translate(-50%, -50%);
           -ms-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);
           top: 37%;
           left: 65%;
           width: 300px;
           height: 300px;
           -webkit-filter: blur(80px);
           filter: blur(80px);
           background: radial-gradient(circle at 50% 50%, rgb(18, 165, 190), #4c00ff00);
           opacity: 0.3;
       }

       .device {
           z-index: 100;
           position: relative;
       }

       .wrapper-by {
           color: #fff;
           display: flex;
           align-items: center;
           justify-content: center;
           white-space: nowrap;
           overflow: hidden;
           font-family: monospace;
           font-size: 16px;
           color: #252525;
           margin-bottom: 14px;
       }

       .wrapper-by h1 {
           white-space: nowrap;
           overflow: hidden;
           font-family: monospace;
           font-size: 1.5em;
           color: #252525;
       }

       .wrapper-by span {
           background: linear-gradient(89.92deg, #001f3f 50.34%, #e75484 80.07%, #001f3f 99.89%);
           background-clip: border-box;
           background-clip: border-box;
           background-clip: border-box;
           -webkit-background-clip: text;
           color: transparent;
       }


       .card1 {
           position: relative;
           width: 100%;
           padding: 25px;
           background-color: #f5f5f566;
           backdrop-filter: blur(10px);
           height: 100%;
       }

       .card__header {
           display: grid;
           gap: 4px;
       }

       .card__header-title {
           order: 2;
           font-weight: bold;
           font-size: 33px;
       }

       .card__header-subtitle {
           order: 3;
           font-size: 14px;
       }

       .card__header-category {
           order: 1;
           font-size: 14px;
       }

       .card__items2 {
           position: relative;
           margin: 100px 0;
           text-align: center;
           transition: 1s;
       }

       .card__items2::before,
       .card__items2::after {
           content: "";
           display: block;
           position: absolute;
           border-radius: 50%;
           z-index: -2;
       }

       .card__items2::before {
           width: 130px;
           height: 130px;
           left: 50%;
           top: 50%;
           transform: translate(-50%, -50%);
           background-color: #e7e7e7;
           transition: 1s;
       }

       .card__items2::after {
           width: 70%;
           height: 40px;
           bottom: 0;
           right: 30px;
           transform: translate(-25%, 50%);
           background-color: #000;
           filter: blur(10px);
           opacity: .2;
           transition: .5s;
       }





       .card__items3 {
           position: relative;
           margin: 100px 0;
           text-align: center;
           transition: 1s;
       }

       .card__items3::before,
       .card__items3::after {
           content: "";
           display: block;
           position: absolute;
           border-radius: 50%;
           z-index: -2;
       }

       .card__items3::before {
           width: 130px;
           height: 130px;
           left: 10%;
           top: 50%;
           transform: translate(-50%, -50%);
           background-color: #e7e7e7;
           transition: 1s;
       }

       .card__items3::after {
           width: 25%;
           height: 40px;
           bottom: 0;
           transform: translate(-25%, 50%);
           background-color: #000;
           filter: blur(10px);
           opacity: .2;
           transition: .5s;
       }

       .card__items3 .card__item {
           justify-content: start !important;
           padding-left: 2rem;
       }









       .card__items {
           position: relative;
           margin: 60px 0;
           text-align: center;
           transition: 1s;
       }

       .card__items::before,
       .card__items::after {
           content: "";
           display: block;
           position: absolute;
           border-radius: 50%;
           z-index: -2;
       }

       .card__items::before {
           width: 200px;
           height: 200px;
           left: 50%;
           top: 50%;
           transform: translate(-50%, -50%);
           background-color: #e7e7e7;
           transition: 1s;
       }

       .card__items::after {
           width: 70%;
           height: 40px;
           bottom: 0;
           right: 30px;
           transform: translate(-25%, 50%);
           background-color: #000;
           filter: blur(10px);
           opacity: .2;
           transition: .5s;
       }

       .card__item {
           position: relative;
           justify-content: center;
           display: flex;
       }

       .card__item-img {
           display: none;
           width: 45%;
           transform: scale(1) rotate(20deg);
           transition: .5s;
       }

       .card__item-input {
           position: absolute;
           display: none;
       }

       .card__item-input:checked~.card__item-img {
           display: block;
       }

       .card__color-filters {
           display: flex;
           justify-content: center;
           gap: 8px;
           padding-bottom: 16px;
           text-align: center;
           transition: 1s;
           transition-delay: .2s;
       }

       .card__filters .btn {
           background: #f5f5ff;
           color: black;
           font-size: 16px;
       }

       .card__filters .btn:hover {
           background: transparent;
           border: 1px solid #fff;
           color: #fff;
       }

       .card__color-filter {
           position: relative;
           width: 30px;
           height: 30px;
           border-radius: 50%;
           overflow: hidden;
           cursor: pointer;
       }

       .card__color-filter::before {
           content: '';
           display: block;
           width: inherit;
           height: inherit;
           background-color: var(--color-option);
       }

       .card__price {
           width: 100%;
           font-weight: 600;
           text-align: center;
       }

       .card1:hover .card__items::after {
           width: 75%;
       }

       .card1:hover .card__item-img {
           transform: scale(1.2) rotate(30deg) translate(10px, -20px);
       }

       .section_padding_130 {
           padding-top: 2rem;
           padding-bottom: 130px;
       }

       .faq_area {
           position: relative;
           z-index: 1;
           background-color: #ffff;
       }

       .faq-accordian {
           position: relative;
           z-index: 1;
       }

       .faq-accordian .card {
           position: relative;
           z-index: 1;
           margin-bottom: 1.5rem;
       }

       .faq-accordian .card:last-child {
           margin-bottom: 0;
       }

       .faq-accordian .card .card-header {
           background-color: #f5f5ff;
           padding: 0;
           border-bottom-color: #ebebeb;
       }

       .faq-accordian .card .card-header h5 {
           cursor: pointer;
           padding: 1.75rem 2rem;
           color: #3f43fd;
           display: -webkit-box;
           display: -ms-flexbox;
           display: flex;
           -webkit-box-align: center;
           -ms-flex-align: center;
           -ms-grid-row-align: center;
           align-items: center;
           -webkit-box-pack: justify;
           -ms-flex-pack: justify;
           justify-content: space-between;
       }

       .faq-accordian .card .card-header h5 span {
           font-size: 1.5rem;
       }

       .faq-accordian .card .card-header h5.collapsed {
           color: #070a57;
       }

       .faq-accordian .card .card-header h5.collapsed span {
           -webkit-transform: rotate(-180deg);
           transform: rotate(-180deg);
       }

       .faq-accordian .card .card-body {
           padding: 1.75rem 2rem;
       }

       .faq-accordian .card .card-body p:last-child {
           margin-bottom: 0;
       }

       @media only screen and (max-width: 575px) {
           .support-button p {
               font-size: 14px;
           }
       }

       .support-button i {
           color: #3f43fd;
           font-size: 1.25rem;
       }

       @media only screen and (max-width: 575px) {
           .support-button i {
               font-size: 1rem;
           }
       }

       .support-button a {
           text-transform: capitalize;
           color: #2ecc71;
       }

       @media only screen and (max-width: 575px) {
           .support-button a {
               font-size: 13px;
           }
       }


       /* Container principal */
       .containerg {
           display: flex;
           justify-content: center;
           align-items: center;
           gap: 20px;
           padding-bottom: 2rem;
           padding-top: 2rem;
       }

       /* Lado Esquerdo */
       .left-section {
           width: 426.2px;
           height: 694.923px;
           background-color: #D9E7FF;
           border-radius: 10px;
           box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
           display: flex;
           justify-content: center;
           align-items: center;
           text-align: center;
       }

       /* Lado Direito */
       .right-section {
           width: 835.8px;
           height: 694.923px;
           display: flex;
           flex-direction: column;
           gap: 20px;
       }

       /* Parte Superior: Duas colunas */
       .top-columns {
           display: flex;
           gap: 20px;
           flex: 1;
       }

       .column {
           flex: 1;
           background-color: #FFE0E5;
           border-radius: 10px;
           box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
           display: flex;
           justify-content: center;
           align-items: center;
           text-align: center;
       }

       /* Parte Inferior: Coluna única */
       .bottom-column {
           flex: 1;
           background-color: #E7FFD9;
           border-radius: 10px;
           box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
           display: flex;
           justify-content: center;
           align-items: center;
           text-align: center;
       }

       .pt-8 {
           padding-top: 10rem;
       }

       .header-title {
           color: #001f3f;
           font-size: 3.75rem;
           font-weight: 700;
           line-height: 4.25rem;
           text-align: center;
           margin: 1rem 4rem 0 4rem;
       }

       .header-text {
           margin: 1rem 3rem;
           margin-bottom: 4rem;
           background: linear-gradient(89.92deg, #001f3f 50.34%, #e75484 80.07%, #001f3f 99.89%);
           background-clip: border-box;
           background-clip: border-box;
           background-clip: border-box;
           -webkit-background-clip: text;
           color: transparent;
           font-size: 20px;
           font-weight: 500;
           line-height: 36px;
           text-align: center;
       }

       .wrapper {
           /*This part is important for centering*/
           display: grid;
           place-items: center;
           margin-bottom: 40px;
       }

       .typing-demo {
           width: 27ch;
           animation: typing 2s steps(22), blink .5s step-end infinite alternate;
           white-space: nowrap;
           overflow: hidden;
           border-right: 3px solid;
           font-family: monospace;
           font-size: 1.5em;
           color: #252525;
       }

       @keyframes typing {
           from {
               width: 0
           }
       }

       @keyframes blink {
           50% {
               border-color: transparent
           }
       }

       a .btn {
           font-size: 1.1em;
           padding: 14px 67px 14px 20px;
           background-color: #001f3f;
           color: #fff;
           border-radius: 50px;
           margin: auto;
           border: 2px solid #001f3f;
           margin: 3rem 3rem 3rem;
           font-weight: 600;
       }

       a .btn:hover {
           transform: scale(1.05);
           background-color: transparent;
           color: #001f3f;
           border: 2px solid #001f3f;
       }

       a .btn:hover .ico {
           margin-left: 17px;
           background-color: #001f3f;
           color: white;
           transform: rotate(360deg);
       }

       a .btn:active {
           background-color: #001f3f;
           color: white;
       }

       .ico {
           transition: all 0.5s;
           background-color: white;
           color: #001f3f;
           width: 40px;
           height: 40px;
           padding: 5px;
           border-radius: 20px;
           position: absolute;
           margin-left: 17px;
           margin-top: -10px;
           font-size: 1.5em;
       }

       .wrapper h4 {
           margin: 4rem 15rem 0 15rem;
           color: #001f3f;
           font-size: 16px;
           font-weight: 500;
           text-align: center;
       }